# AWS region of the bedrock agents
bedrock.region=

# URL of the JENA instance and dataset
jena.url=http://example.com/jena:3030/inundation/

# User name and password able to log into the geo-ai-explorer server
spring.security.user.name=
spring.security.user.password=

# AWS access key and secret key for IAM user which can execute bedrock methods
access.key.id=
secret.access.key=